<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
</head>
<body>

<a href="/logout">Log out</a>

<form action="admin/addjelo" method="post">
	<label>Vrsta</label>
	<select name="vrsta">
	{% set newArray = [] %}
	{% for jelo in jelovnik %}
		{% if jelo.vrsta not in newArray %}
			<option value="{{ jelo.vrsta }}">{{ jelo.vrsta }}</option>
			{% set newArray = newArray|merge([jelo.vrsta]) %}
		{% endif %}
	{% endfor %}
<!-- 		<option value="dorucak">dorucak</option>
		<option value="predjela">predjela</option>
		<option value="sendvici">sendvici</option>
		<option value="salata">salata</option>
		<option value="pizza">pizza</option>
		<option value="desert">desert</option>
		<option value="pasta">pasta</option> -->
	</select>

	<label>Jelo</label>
	<input type="text" name="jelo">

	<label>Opis</label>
	<input type="text" name="opis">

	<label>Cena</label>
	<input type="number" name="cena">

	<input type="submit" name="submit" value="Submit">
</form>
       <table>
            <thead style="background-color: #ddd; font-weight: bold;">
            <tr>
                <td>Id</td>
                <td>Vrsta</td>
                <td>Jelo</td>
                <td>Opis</td>
                <td>Cena</td>
                <td>DELETE</td>
                <td>EDIT</td>
            </tr>
            </thead>
            <tbody>
            {% for jelo in jelovnik %}
            
                <tr>
                    <td>{{ jelo.id|e }}</td>
                    <td>{{ jelo.vrsta|e }}</td>
                    <td>{{ jelo.jelo|e }}</td>
                    <td>{{ jelo.opis|e }}</td>
                    <td>{{ jelo.cena|e }}</td>
                    <td><a href="admin/deleteJelo/{{ jelo.id|e }}">delete</a></td>
                    <td><a href="admin/editJelo/{{ jelo.id|e }}">edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

</body>
</html>