<!DOCTYPE html>

<html lang="sr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Italijanski fast food restoran. Veliki izbor pasta, pica i salata.">
    <meta name="author" content="Bojan Ratković - ratkovicbojan94@gmail.com"> <!-- CONTACT ME -->
    <meta name="theme-color" content="#a69d43">

    <title>Trattoria Vapene</title>

    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/vegas.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- CUSTOM FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
<div class="wrapper">

<!-- NAVIGACIJA -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Trattoria Vapene</a>
            </div> <!-- KRAJ HEADERA -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#onama">O nama</a></li>
                    <li><a href="#gallery">Galerija</a></li>
                    <li><a href="#menu">Jelovnik</a></li>
                    <li><a href="#location">Lokacija</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right social">
                    <li><a href="https://twitter.com/trattoriav" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a></li>
                    <li><a href="https://sr-rs.facebook.com/TrattoriaVapene/" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a></li>
                    <li><a href="https://www.instagram.com/trattoriavapene/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></li>
                    <li><a href="https://plus.google.com/+TrattoriaVapeneNoviSad" target="_blank"><i class="fa fa-google-plus-square fa-lg"></i></a></li>
                </ul>
            </div> <!-- KRAJ KOLAPSERA -->
        </div> <!-- CONTAINER FLUID -->
    </nav> <!-- KRAJ NAVIGACIJE -->

    <div class="wrap">
        <header id="heder">
            <div class="inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <img src="assets/img/logo.png" alt="trattoria logo">
                            <h1>Trattoria Vapene</h1>
                            <p class="text-muted">Italijanski restoran</p>
                            <p class="text-muted">Fruškogorska 4, Novi Sad</p>
                            <hr>
                            <i class="fa fa-phone fa-3x"></i><span><strong>065 / 350 - 37 - 89 | 060 / 32 - 27 - 338</strong></span>
                        </div>
                    </div>
                </div> <!-- KRAJ KONTEJNERA -->
            </div> <!-- KRAJ INNERA -->
        </header> <!-- KRAJ HEDERA -->
    </div> <!-- KRAJ HEADER WRAPA -->

    <section id="onama">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>O nama</h3>
                <p class="text-muted">Pročitajte više o nama</p>
            </div>
        </div> <!-- KRAJ PRVOG REDA -->
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 intro">
                <p>Dragi prijatelji, naš i Vaš, već mnogima dobro poznat italijanski fast food restoran Trattoria Vapene otvoren je 01.06.2014.<br> Ako nas već niste posetili, pravo je vreme da, na putu za Štrand, svratite do Fruškogorske 4. Kod nas vas čeka bogata ponuda ukusnih i brzo pripremljenih jela iz asortimana tradicionalne italijanske kuhinje.</p>
                <p>Pored onih, vec dobro poznatih italijanskih specijaliteta kao sto su paste Carbonara, Bolognesse i pice Capricossa ili Fruti di mare, nudimo vam i mnogobrojne specijalitete kuće poput Vapene piatto, pasta Zingara, di Polo, Arabiatta, pizza Peperoni, Stella Campione, cebata-sendvica i još mnogo toga.</p>
                <p>Ukoliko vas, u ovih par rečenica, ipak nismo ubedili da nas posetite i uživate u našoj kuhinji u prijatnom ambijentu restorana, uz italijansku muziku, kvalitetno vino, pivo ili možda neki sok ili kaficu, nudimo vam i mogućnost dostave. Na ovaj način ćete u udobnosti svog doma moći da uživate u brzo pristiglom, toplom i ukusnom obroku.<br>Nadamo se skorom druženju, dobrodošli i prijatno!</p>
            </div>
        </div> <!-- KRAJ DRUGOG REDA -->
    </div>   <!-- KRAJ KONTEJNERA --> 
</section> <!-- KRAJ SEKCIJE O NAMA-->

<section id="gallery">
    <div class="container-fluid">
        <div id="karusel">
          <div class="item"><img src="assets/img/owl/owl1.jpg" alt="Owl Image"></div>
          <div class="item"><img src="assets/img/owl/owl2.jpg" alt="Owl Image"></div>
          <div class="item"><img src="assets/img/owl/owl3.jpg" alt="Owl Image"></div>
          <div class="item"><img src="assets/img/owl/owl4.jpg" alt="Owl Image"></div>
          <div class="item"><img src="assets/img/owl/owl5.jpg" alt="Owl Image"></div>
          <div class="item"><img src="assets/img/owl/owl6.jpg" alt="Owl Image"></div>
          <div class="item"><img src="assets/img/owl/owl7.jpg" alt="Owl Image"></div>
          <div class="item"><img src="assets/img/owl/owl8.jpg" alt="Owl Image"></div>
          <div class="item"><img src="assets/img/owl/owl9.jpg" alt="Owl Image"></div>
          <div class="item"><img src="assets/img/owl/owl10.jpg" alt="Owl Image"></div>
          <div class="item"><img src="assets/img/owl/owl12.jpg" alt="Owl Image"></div>
          <div class="item"><img src="assets/img/owl/owl13.jpg" alt="Owl Image"></div>
          <div class="item"><img src="assets/img/owl/owl14.jpg" alt="Owl Image"></div>
          <div class="item"><img src="assets/img/owl/owl15.jpg" alt="Owl Image"></div>
          <div class="item"><img src="assets/img/owl/owl16.jpg" alt="Owl Image"></div>
          <div class="item"><img src="assets/img/owl/owl17.jpg" alt="Owl Image"></div>
        </div>
    </div> <!-- KRAJ KONTEJNERA -->
</section> <!-- KRAJ SEKCIJE GALERIJA -->


	{% block body %}
	{% endblock %}

	<section id="location">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h3>Lokacija</h3>
                <p class="text-muted">Pronađite nas</p>
            </div>
        </div>
    </div>
    <div id="map"></div>
</section> <!-- KRAJ LOKACIJE -->

<!-- FOOTER -->

<footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <small><i class="fa fa-copyright" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/bojanratkovic94" target="_blank">Bojan Ratković</a></small><br>
                </div>
            </div>
        </div> <!-- KRAJ KONTEJNERA -->
    </footer> <!-- KRAJ FOOTERA -->
    </div>


    <!-- JQ -->
    <script src="assets/js/jquery.js"></script>
    <!-- PLUGINI -->
    <script src="assets/js/vegas.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>

    <script>
        function initMap() {
        var myLatLng = {lat: 45.244521, lng: 19.846812};


        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          disableDefaultUI: true,
          scrollwheel: false,
          disableDoubleClickZoom: true,
          center: myLatLng,
          styles: [
            {
              featureType: 'all',
              stylers: [
                { saturation: -80 }
              ]
            },{
              featureType: 'road.arterial',
              elementType: 'geometry',
              stylers: [
                { hue: '#00ffee' },
                { saturation: 50 }
              ]
            },{
              featureType: 'poi.business',
              elementType: 'labels',
              stylers: [
                { visibility: 'off' }
              ]
            }
          ]

        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Trattoria Vapene, Fruškogorska 4'
        });
      }

 
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAj3YIqHGQ686LPePf1puMkh8l680kjDZg&callback=initMap" async defer></script>
    <!-- BS JS -->
    <script src="assets/js/bootstrap.min.js"></script>


    <script>
        $('.wrap').vegas({
          slides : [
            {src: "assets/img/bg1.jpg"},
            {src: "assets/img/bg2.jpg"},
            {src: "assets/img/bg3.jpg"},
            {src: "assets/img/bg4.jpg"},
            {src: "assets/img/bg5.jpg"},
          ],
            transition: 'fade',
        });
    </script>
    <script>
        $('.navbar-collapse ul li a').click(function() {
                $('.navbar-toggle:visible').click();
            });

            // ofset za navigaciju
        $('#mainNav').affix({
        offset: {
            top: 100
        }
    })
    </script>
    <script>
        $(document).ready(function() {
 
  $("#karusel").owlCarousel({
 
      autoPlay: 2000, 
 
      items : 4,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
 
  });
 
});
    </script>
    <script>
        $(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 500);
        return false;
      }
    }
  });
});
    </script>

</body>
</html>